/* Estilos para el body */
body {
  display: grid;

  grid-template-areas:
    "header header header"
    "featured featured aside"
    "one two two"
    "three four five"
    "six seven seven"
    "footer footer footer";
  grid-gap: 10px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
}

/* Estilos para la sección header */
.header {
  grid-area: header;
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
}

/* Estilos para la sección featured */
.featured {
  grid-area: featured;
  background-color: #4CAF50;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}

/* Estilos para la sección aside */
.aside {
  grid-area: aside;
  background-color: #FFC107;
  color: #333;
  font-size: 1rem;
  padding: 20px;
  margin-right: 10px;
}

/* Estilos para la sección one */
.one {
  grid-area: one;
  background-color: #fff;
  padding: 20px;
}

/* Estilos para las secciones two, three, four, five, six y seven */
.two, .three, .four, .five, .six, .seven {
  background-color: #fff;
  border: 2px solid #333;
  padding: 20px;
}

/* Estilos para los iframes */
iframe {
  width: 30%;
  height: 300px;
}

/* Estilos para la sección footer */
.footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 20px;
}
