
#sketch {
  display: grid;
  grid-template-columns: repeat(2, 100fr);
  gap: 20px;
}


.project {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.project h2 {
  margin-top: 0;
}

.project iframe {
  width: 100%;
  height: 700px;
}
#serpiente iframe {
  width: 100%;
  height: 800px;
}

/* Estilos para la sección header */
.header {
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
}

/* Estilos para la sección featured */
.featured {
  background-color: #f0245c;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}

/* Estilos para la sección aside */
.aside {
  background-color: #fff;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  margin-right: 10px;
}

/* Estilos para la sección footer */
.footer {
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 20px;
}
#sketch h2, #serpiente h2 {
  background-color: #f0245c; /* Cambia este valor por el color de fondo que desees */
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 25px; /* Añade un relleno alrededor del texto del encabezado */
}